/**
 * ENGINE
 * v0.2 | 20150615
 * License: none (public domain)
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
*,
*:after,
*:before {
  box-sizing: border-box;
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
textarea,
button {
  font-family: inhert;
  font-size: inherit;
  color: inherit;
}

select {
  text-indent: .01px;
  text-overflow: '';
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.logo {
  font-weight: 700;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 40px;
  /* 9 */
  font-size: 4rem;
  /* 9 */
  color: #ffffff;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 0 10px 10px 0;
  /* 9 */
  margin: 0 1rem 1rem 0;
  /* 9 */
}

.subtitle {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 20px;
  /* 9 */
  font-size: 2rem;
  /* 9 */
  color: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #424242;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
}

a {
  transition: color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

a:active {
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

.header {
  background-color: #f13030;
  padding: 30px 5px 10px 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.social-icons ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 20px 0 5px 0;
  justify-content: center;
}

.share {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 45px;
  display: inline-flex;
  height: 45px;
  border-radius: 100px;
  margin: 0 10px;
}

.svg--icon {
  width: 25px;
  height: 42px;
  display: block;
  fill: rgba(0, 0, 0, 0.5);
  display: block;
  margin: auto;
}

.share:hover,
.share:focus,
.share.active {
  border: 1px solid white;
  transition: fill 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: fill 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: fill 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -ms-transition: fill 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.share:hover .svg--icon,
.share:focus .svg--icon,
.share.active .svg--icon {
  fill: #ffffff;
  transition: fill 0.15s ease-in-out;
  -webkit-transition: fill 0.15s ease-in-out;
  -moz-transition: fill 0.15s ease-in-out;
  -ms-transition: fill 0.15s ease-in-out;
}

.pdc-view-outer {
  border: 1px solid #d9dee9;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: block;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  position: relative;
  border-radius: 5px;
  -webkit-transform: translateY(0);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pdc-view-outer:hover, .pdc-view-outer:focus {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}

.pdc-view-outer:after {
  position: absolute;
  bottom: -60px;
  left: 30px;
  content: "";
  width: 1px;
  background-color: #d9dee9;
  height: 60px;
}

.pdc-view-inner {
  position: initial;
}

.pdc-view-inner:after {
  display: none;
}

.pdc-view-inner:hover, .pdc-view-inner:focus {
  -webkit-transform: none;
  transform: none;
}

.pdc-sm-view {
  justify-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.tech-img {
  margin-right: 20px;
  max-width: 100px;
  width: 100%;
  height: 100px;
}

.tech-img img {
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
}

.tech-details {
  padding: 0 20px;
  margin-right: auto;
}

.tech-details .tech-head {
  text-decoration: none;
  color: #424242;
  margin-bottom: 10px;
  display: block;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 25px;
  /* 9 */
  font-size: 2.5rem;
  /* 9 */
  font-weight: 600;
}

.tech-details .tech-head:hover, .tech-details .tech-head:focus, .tech-details .tech-head.active {
  color: #f13030;
}

.tech-details .tech-subhead {
  color: #939393;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 10px;
  /* 9 */
  font-size: 1rem;
  /* 9 */
  margin-bottom: 30px;
}

.tech-details .tech-tags {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 20px;
}

.tech-details .tech-tags span {
  color: #f13030;
  font-weight: 500;
  margin: 10px 10px 10px 0px;
}

.tech-details .tech-pdc-owner {
  font-weight: 600;
  color: #939393;
}

.tech-play {
  align-self: center;
}

.path-bg {
  fill: #f13030;
}

.path-shape {
  fill: #fff;
}

.tech-play .play-btn {
  position: relative;
  width: 80px;
  height: 80px;
}

.tech-play .play-btn a {
  display: inline-flex;
}

.tech-play .play-btn a svg {
  width: 50px;
  height: 50px;
}

.play-btn a:hover svg .path-bg,
.play-btn a:focus svg .path-bg {
  fill: #000;
  transition: fill 0.15s ease-in-out;
  -webkit-transition: fill 0.15s ease-in-out;
  -moz-transition: fill 0.15s ease-in-out;
  -ms-transition: fill 0.15s ease-in-out;
}

.pdc-f-details .pdc-title {
  color: #424242;
  font-weight: 600;
  margin: 20px 0 10px 0;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 30px;
  /* 9 */
  font-size: 3rem;
  /* 9 */
}

.pdc-f-details .tech-subhead {
  color: #424242;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 15px;
  /* 9 */
  font-size: 1.5rem;
  /* 9 */
  line-height: 1.4;
  font-weight: 400;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row-space {
  justify-content: space-between;
}

.form--fwidth {
  width: 280px;
}

.form-control {
  display: block;
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding: .375rem .75rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #424242;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus,
.form-control .active {
  color: #495057;
  background-color: #fff;
  outline: 0;
  border: 1px solid #424242;
}

.search-icon {
  width: 20px;
}

.app-search {
  position: relative;
}

.app-search .form-control {
  padding-left: 20px;
  padding-right: 40px;
  background: #f8f8f8;
  box-shadow: none;
  width: 280px;
}

.app-search a {
  position: absolute;
  top: 5px;
  right: 4%;
  display: block;
  height: 34px;
  line-height: 34px;
  width: 34px;
  text-align: center;
  font-size: 12px;
  font-size: 1.2rem;
}

select.bg-select {
  position: relative;
  background-image: url(../images/downarrow.svg);
  background-repeat: no-repeat;
  background-position: 95% 60%;
  background-size: 15px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 15px;
  /* 9 */
  font-size: 1.5rem;
  /* 9 */
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}

.btn-outline-primary {
  color: #424242;
  background-color: transparent;
  background-image: none;
  border-color: #424242;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #424242;
  border-color: #424242;
}

@media only screen and (max-width: 767px) {
  .row.row-space .form-group,
  .row.row-space .app-search {
    margin: 10px auto 0;
  }
  .logo {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 20px;
    /* 9 */
    font-size: 2rem;
    /* 9 */
  }
  .subtitle {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 10px;
    /* 9 */
    font-size: 1rem;
    /* 9 */
  }
  .share {
    width: 25px;
    height: 25px;
  }
  .svg--icon {
    width: 15px;
    height: 22px;
  }
  .pdc-view-outer {
    margin: 10px 10px 48px 10px;
  }
  .pdc-sm-view {
    flex-direction: column;
    padding: 5px;
  }
  .tech-img {
    max-width: 50px;
    height: 60px;
  }
  .tech-details {
    padding: 10px 10px 0px 3px;
  }
  .tech-details .tech-tags {
    margin-top: 10px;
  }
  .tech-details .tech-tags span {
    margin: 2px;
  }
  .tech-details .tech-head {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 20px;
    /* 9 */
    font-size: 2rem;
    /* 9 */
  }
  .tech-play {
    align-self: flex-start;
    margin-top: 10px;
  }
  .tech-play .play-btn {
    width: 60px;
    height: 60px;
  }
}
 

 /*# sourceMappingURL= site.css.map */