@media only screen and (max-width:767px) {
    .row.row-space .form-group,
    .row.row-space .app-search {
        margin: 10px auto 0;
    }
    .logo {
        @include rem(font-size, 2rem);
    }
    .subtitle {
        @include rem(font-size, 1rem);
    }
    .share {
        width: 25px;
        height: 25px;
    }
    .svg--icon {
        width: 15px;
        height: 22px;
    }
    .pdc-view-outer {
        margin: 10px 10px 48px 10px
    }
    .pdc-sm-view {
        flex-direction: column;
        padding: 5px;
    }
    .tech-img {
        max-width: 50px;
        height: 60px;
    }
    .tech-details {
        padding: 10px 10px 0px 3px;
        .tech-tags {
            margin-top: 10px;
            span {
                margin: 2px;
            }
        }
        .tech-head {
            @include rem(font-size, 2rem);
        }
    }
    .tech-play {
        align-self: flex-start;
        margin-top: 10px;
        .play-btn {
            width: 60px;
            height: 60px;
        }
    }
}